/* line 1, ../sass/partials/_shared.scss */
body {
  font-family: 'Advent Pro', sans-serif;
}

/* line 5, ../sass/partials/_shared.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 10, ../sass/partials/_shared.scss */
a {
  text-decoration: none;
}
/* line 12, ../sass/partials/_shared.scss */
a:hover, a:focus {
  text-decoration: none;
  box-shadow: none !important;
}

/* line 18, ../sass/partials/_shared.scss */
h2 {
  font-size: 40px;
  font-weight: 400;
}

/* line 23, ../sass/partials/_shared.scss */
h3 {
  font-weight: bold;
  font-size: 36px;
}
@media only screen and (max-width: 576px) {
  /* line 23, ../sass/partials/_shared.scss */
  h3 {
    font-size: 27px;
  }
}

/* line 32, ../sass/partials/_shared.scss */
.height-100 {
  min-height: 100vh;
}

/* line 36, ../sass/partials/_shared.scss */
.black-bg {
  background-color: #000000;
  color: #ffffff;
}

/* line 41, ../sass/partials/_shared.scss */
.white-bg {
  background-color: #ffffff;
}

/* line 45, ../sass/partials/_shared.scss */
.white-color {
  color: #ffffff;
}

/* line 49, ../sass/partials/_shared.scss */
.relative {
  position: relative;
}

/* line 53, ../sass/partials/_shared.scss */
.z-index {
  z-index: 99;
  background-color: #ffffff;
}

/* line 58, ../sass/partials/_shared.scss */
section {
  background-color: #ffffff;
}

/* line 62, ../sass/partials/_shared.scss */
header .mynavbar .navbar-brand, .footer-height footer .umobit-logo img, .main-menu .social-media a i, .content.product-content button.slideToggle i, .contact-form form .borders, .content.product-content.news .new-borders {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 69, ../sass/partials/_shared.scss */
.icon-bar {
  display: block;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background-color: #1f1812;
  position: relative;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

/* line 79, ../sass/partials/_shared.scss */
.static {
  position: static;
}

/* line 83, ../sass/partials/_shared.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5;
  z-index: auto;
}

/* line 94, ../sass/partials/_shared.scss */
.mybtn {
  font-weight: bold;
  font-size: 24px;
  left: 20px;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 100, ../sass/partials/_shared.scss */
.mybtn span {
  color: #ff9900;
}

/* line 105, ../sass/partials/_shared.scss */
.title-span {
  color: #ffffff;
  font-size: 24px;
  left: -20px;
}

/* line 111, ../sass/partials/_shared.scss */
.mydropdown {
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  min-width: 260px;
  display: block;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 111, ../sass/partials/_shared.scss */
  .mydropdown {
    overflow: visible;
  }
}
/* line 128, ../sass/partials/_shared.scss */
.mydropdown div {
  max-height: 280px;
  overflow-y: auto;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: content-box;
  overflow-x: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 128, ../sass/partials/_shared.scss */
  .mydropdown div {
    max-height: 200px;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
    overflow-y: auto;
  }
}
/* line 145, ../sass/partials/_shared.scss */
.mydropdown a, .mydropdown .dropdown-divider {
  display: block;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  will-change: transform;
}
/* line 152, ../sass/partials/_shared.scss */
.mydropdown .dropdown-divider:last-child {
  display: none;
}
/* line 156, ../sass/partials/_shared.scss */
.mydropdown a:active {
  background: #f8f9fa;
  color: #16181b;
}

/* line 162, ../sass/partials/_shared.scss */
.layer {
  background-color: rgba(255, 255, 255, 0.6);
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 166, ../sass/partials/_shared.scss */
.layer h2, .layer a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #343534;
}
/* line 171, ../sass/partials/_shared.scss */
.layer span {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

/* line 177, ../sass/partials/_shared.scss */
.call-us {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  /* line 177, ../sass/partials/_shared.scss */
  .call-us {
    left: 50%;
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}
/* line 191, ../sass/partials/_shared.scss */
.call-us p {
  font-weight: 300;
}
/* line 194, ../sass/partials/_shared.scss */
.call-us p span {
  font-weight: bold;
  font-size: 30px;
}

/* line 204, ../sass/partials/_shared.scss */
.content h1, .content h2 {
  font-weight: bold;
  font-size: 36px;
}
/* line 209, ../sass/partials/_shared.scss */
.content hr {
  background-color: #ff9900;
  border: none;
  height: 2px;
  width: 40px;
}
/* line 216, ../sass/partials/_shared.scss */
.content p {
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-weight: 300;
}

/* line 224, ../sass/partials/_shared.scss */
.fromLeft {
  left: -50px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 230, ../sass/partials/_shared.scss */
.fromRight {
  right: -50px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 236, ../sass/partials/_shared.scss */
.overflow-hidden {
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 241, ../sass/partials/_shared.scss */
  .mynavbar {
    height: 80px;
  }
}
/* line 246, ../sass/partials/_shared.scss */
.overflow-x-hidden {
  overflow-x: hidden;
}

/* line 250, ../sass/partials/_shared.scss */
.title-padding {
  padding: 0 calc(2rem + 15px);
}

@media only screen and (max-width: 576px) {
  /* line 254, ../sass/partials/_shared.scss */
  h1.mobile-heading,
  h2.mobile-heading {
    font-size: 1.7rem;
  }
}

/* line 261, ../sass/partials/_shared.scss */
.z-index-1 {
  z-index: 1;
}

/* line 265, ../sass/partials/_shared.scss */
.new-date {
  color: #1f1812;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* line 1, ../sass/partials/_header.scss */
header {
  background-color: #ffffff;
}
/* line 4, ../sass/partials/_header.scss */
header .mynavbar {
  min-height: 80px;
}
/* line 8, ../sass/partials/_header.scss */
header .mynavbar .nav-link {
  font-size: 18px;
  color: #1f1812;
  text-transform: uppercase;
  position: relative;
}
/* line 14, ../sass/partials/_header.scss */
header .mynavbar .nav-link img[width="20"] {
  margin-top: -3px;
}
/* line 20, ../sass/partials/_header.scss */
header .mynavbar .navbar-toggler .middle-bar {
  margin-top: 5px;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 25, ../sass/partials/_header.scss */
header .mynavbar .navbar-toggler .bottom-bar {
  margin-top: 5px;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 30, ../sass/partials/_header.scss */
header .mynavbar .navbar-toggler:focus {
  outline: none;
}
@media only screen and (max-width: 767px) {
  /* line 35, ../sass/partials/_header.scss */
  header .mynavbar .navbar-brand {
    position: static;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 44, ../sass/partials/_header.scss */
header .mynavbar .navbar-brand img {
  max-height: 70px;
}
@media only screen and (max-width: 767px) {
  /* line 44, ../sass/partials/_header.scss */
  header .mynavbar .navbar-brand img {
    max-height: 60px;
  }
}

/* line 56, ../sass/partials/_header.scss */
.fadeOutRight {
  opacity: 0;
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/* line 1, ../sass/partials/_footer.scss */
.footer-height {
  background-color: #000000;
}
/* line 4, ../sass/partials/_footer.scss */
.footer-height footer {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
/* line 13, ../sass/partials/_footer.scss */
.footer-height footer .footer-padding {
  padding: 0 1.75rem;
}
/* line 16, ../sass/partials/_footer.scss */
.footer-height footer .footer-padding .row:first-child > div:last-child > div {
  font-size: 14px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 991px) {
  /* line 4, ../sass/partials/_footer.scss */
  .footer-height footer {
    position: static;
  }
}
/* line 26, ../sass/partials/_footer.scss */
.footer-height footer h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Advent Pro', sans-serif;
}
/* line 32, ../sass/partials/_footer.scss */
.footer-height footer p {
  font-size: 14px;
}
/* line 36, ../sass/partials/_footer.scss */
.footer-height footer a {
  color: #ffffff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 39, ../sass/partials/_footer.scss */
.footer-height footer a:hover {
  color: #ff9900;
}
/* line 44, ../sass/partials/_footer.scss */
.footer-height footer .social a i {
  font-size: 20px;
}
/* line 48, ../sass/partials/_footer.scss */
.footer-height footer .navbar-nav .nav-link {
  color: #cccccc;
  font-size: 14px;
}
/* line 51, ../sass/partials/_footer.scss */
.footer-height footer .navbar-nav .nav-link:hover {
  color: #ff9900;
}
/* line 56, ../sass/partials/_footer.scss */
.footer-height footer span.phone {
  color: #ff9900;
  font-size: 24px;
  font-weight: bold;
}
/* line 62, ../sass/partials/_footer.scss */
.footer-height footer .umobit-logo {
  position: relative;
  bottom: 4px;
  width: 26px;
}
/* line 68, ../sass/partials/_footer.scss */
.footer-height footer .umobit-logo img {
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
/* line 72, ../sass/partials/_footer.scss */
.footer-height footer .umobit-logo img:last-child {
  opacity: 0;
}
/* line 77, ../sass/partials/_footer.scss */
.footer-height footer .umobit-logo:hover img:first-child {
  opacity: 0;
}
/* line 81, ../sass/partials/_footer.scss */
.footer-height footer .umobit-logo:hover img:last-child {
  opacity: 1;
}
/* line 87, ../sass/partials/_footer.scss */
.footer-height footer .footer-bottom p,
.footer-height footer .footer-bottom a,
.footer-height footer .footer-bottom li {
  font-size: 12px;
}
/* line 93, ../sass/partials/_footer.scss */
.footer-height footer .footer-bottom li {
  border-right: 1px solid #ffffff;
}
/* line 95, ../sass/partials/_footer.scss */
.footer-height footer .footer-bottom li:last-child {
  border-right: none;
}

/* line 1, ../sass/partials/_homepage.scss */
.mycarousel-inner {
  overflow-y: visible;
}

/* line 5, ../sass/partials/_homepage.scss */
.myitem {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* line 11, ../sass/partials/_homepage.scss */
.myitem .height-100 {
  padding-bottom: 200px;
}
@media only screen and (max-width: 767px) {
  /* line 11, ../sass/partials/_homepage.scss */
  .myitem .height-100 {
    opacity: 1 !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    padding-bottom: 0;
    cursor: grab;
  }
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
  /* line 11, ../sass/partials/_homepage.scss */
  .myitem .height-100 {
    padding-bottom: 0;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 854px) and (orientation: landscape) {
  /* line 11, ../sass/partials/_homepage.scss */
  .myitem .height-100 {
    padding-bottom: 0;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 11, ../sass/partials/_homepage.scss */
  .myitem .height-100 {
    height: 100vh;
  }
}
@media only screen and (max-width: 767px) {
  /* line 5, ../sass/partials/_homepage.scss */
  .myitem {
    background-attachment: scroll;
    background-position: center !important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 5, ../sass/partials/_homepage.scss */
  .myitem {
    background-attachment: scroll;
    background-position: center !important;
  }
}
/* line 47, ../sass/partials/_homepage.scss */
.myitem h1, .myitem p, .myitem .mybtn, .myitem span.align-middle {
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  position: relative;
  opacity: 0;
}
/* line 55, ../sass/partials/_homepage.scss */
.myitem h1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 400;
  top: 40px;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
@media only screen and (max-width: 767px) {
  /* line 55, ../sass/partials/_homepage.scss */
  .myitem h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 55, ../sass/partials/_homepage.scss */
  .myitem h1 {
    font-size: 30px;
  }
}
/* line 71, ../sass/partials/_homepage.scss */
.myitem p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  max-width: 60%;
  top: 20px;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  margin: 0 auto;
  margin-bottom: 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 83, ../sass/partials/_homepage.scss */
  .myitem > div.d-flex {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}

/* line 93, ../sass/partials/_homepage.scss */
.myitem.active span.align-middle,
.myitem.active .mybtn {
  left: 0;
  opacity: 1;
}

/* line 99, ../sass/partials/_homepage.scss */
.myitem.active h1,
.myitem.active p {
  top: 0;
  opacity: 1;
}

/* line 105, ../sass/partials/_homepage.scss */
.scale-dropdown {
  -moz-transform: translate(-50%, -50%) scale(1) !important;
  -ms-transform: translate(-50%, -50%) scale(1) !important;
  -webkit-transform: translate(-50%, -50%) scale(1) !important;
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
}

/* line 110, ../sass/partials/_homepage.scss */
.scale-divider {
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

/* line 114, ../sass/partials/_homepage.scss */
.indicators {
  position: absolute;
  bottom: 80px;
  left: 80px;
  right: auto;
  margin-left: 0;
  margin-right: 0;
}
/* line 122, ../sass/partials/_homepage.scss */
.indicators li {
  width: 8px;
  height: 8px;
  cursor: pointer;
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  /* line 114, ../sass/partials/_homepage.scss */
  .indicators {
    display: none !important;
  }
}

/* line 133, ../sass/partials/_homepage.scss */
.arrows {
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 80px;
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  /* line 133, ../sass/partials/_homepage.scss */
  .arrows {
    display: none !important;
  }
}

/* line 144, ../sass/partials/_homepage.scss */
.carousel-control-next, .carousel-control-prev {
  position: static;
  font-size: 20px;
  opacity: 1;
}
/* line 149, ../sass/partials/_homepage.scss */
.carousel-control-next:hover, .carousel-control-prev:hover {
  opacity: 1;
}

/* line 154, ../sass/partials/_homepage.scss */
.scroll-down {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  cursor: pointer;
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
  /* line 154, ../sass/partials/_homepage.scss */
  .scroll-down {
    display: none !important;
  }
}
/* line 165, ../sass/partials/_homepage.scss */
.scroll-down span {
  color: #ffffff;
}
/* line 169, ../sass/partials/_homepage.scss */
.scroll-down img {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  position: relative;
  top: 0em;
}

/* line 177, ../sass/partials/_homepage.scss */
.mymodal {
  background: rgba(255, 255, 255, 0.5);
}
/* line 181, ../sass/partials/_homepage.scss */
.mymodal .modal-dialog {
  max-width: 300px;
}
/* line 184, ../sass/partials/_homepage.scss */
.mymodal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
/* line 188, ../sass/partials/_homepage.scss */
.mymodal .modal-dialog .modal-content .input-group-append .input-group-text {
  border-radius: 5px 0 0 5px;
  background-color: #ffffff;
  border: none;
}
/* line 194, ../sass/partials/_homepage.scss */
.mymodal .modal-dialog .modal-content input[type="text"] {
  border: none;
  height: 70px;
}
/* line 198, ../sass/partials/_homepage.scss */
.mymodal .modal-dialog .modal-content input[type="text"]:focus {
  box-shadow: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
/* line 231, ../sass/partials/_homepage.scss */
.bg-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* line 237, ../sass/partials/_homepage.scss */
.bg-section .justify-content-start .layer {
  left: -33.333333%;
}
@media only screen and (max-width: 1200px) {
  /* line 237, ../sass/partials/_homepage.scss */
  .bg-section .justify-content-start .layer {
    left: -41.66667%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 237, ../sass/partials/_homepage.scss */
  .bg-section .justify-content-start .layer {
    left: -50%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 237, ../sass/partials/_homepage.scss */
  .bg-section .justify-content-start .layer {
    left: -100%;
  }
}
/* line 253, ../sass/partials/_homepage.scss */
.bg-section .justify-content-end .layer {
  right: -33.333333%;
}
@media only screen and (max-width: 1200px) {
  /* line 253, ../sass/partials/_homepage.scss */
  .bg-section .justify-content-end .layer {
    right: -41.66667%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 253, ../sass/partials/_homepage.scss */
  .bg-section .justify-content-end .layer {
    right: -50%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 253, ../sass/partials/_homepage.scss */
  .bg-section .justify-content-end .layer {
    right: -100%;
  }
}
/* line 269, ../sass/partials/_homepage.scss */
.bg-section .layer.fromTop {
  top: -100%;
}
/* line 273, ../sass/partials/_homepage.scss */
.bg-section .layer.fromBottom {
  top: 100%;
}

/* line 278, ../sass/partials/_homepage.scss */
.lg-section .layer {
  min-height: 500px;
}
@media only screen and (max-width: 1200px) {
  /* line 278, ../sass/partials/_homepage.scss */
  .lg-section .layer {
    min-height: 450px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 278, ../sass/partials/_homepage.scss */
  .lg-section .layer {
    min-height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 278, ../sass/partials/_homepage.scss */
  .lg-section .layer {
    min-height: 500px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 278, ../sass/partials/_homepage.scss */
  .lg-section .layer {
    min-height: 400px;
  }
}

/* line 298, ../sass/partials/_homepage.scss */
.sm-section .layer {
  min-height: 350px;
}

/* line 302, ../sass/partials/_homepage.scss */
#map {
  height: 400px;
}

/* line 306, ../sass/partials/_homepage.scss */
.fadeInLeft {
  left: 0 !important;
  opacity: 1 !important;
}

/* line 311, ../sass/partials/_homepage.scss */
.fadeInRight {
  right: 0 !important;
  opacity: 1 !important;
}

/* line 316, ../sass/partials/_homepage.scss */
.fadeInTop {
  top: 0 !important;
  opacity: 1 !important;
}

/* line 1, ../sass/partials/_main_menu.scss */
.main-menu {
  position: fixed;
  left: -100%;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
  min-width: 400px;
}
/* line 9, ../sass/partials/_main_menu.scss */
.main-menu .hide-scrollbar {
  overflow-y: auto;
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: content-box;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100vh;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/partials/_main_menu.scss */
  .main-menu {
    min-width: 100%;
  }
}
/* line 23, ../sass/partials/_main_menu.scss */
.main-menu a {
  color: #000000;
  text-transform: uppercase;
  font-size: 32px;
}
@media only screen and (max-width: 576px) {
  /* line 23, ../sass/partials/_main_menu.scss */
  .main-menu a {
    font-size: 26px;
  }
}
/* line 33, ../sass/partials/_main_menu.scss */
.main-menu .close-btn {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* line 40, ../sass/partials/_main_menu.scss */
.main-menu .close-btn:focus {
  outline: none;
}
/* line 44, ../sass/partials/_main_menu.scss */
.main-menu .close-btn .icon-bar {
  position: absolute;
  width: 30px;
  background-color: #000000;
  height: 1px;
}
@media only screen and (max-width: 576px) {
  /* line 44, ../sass/partials/_main_menu.scss */
  .main-menu .close-btn .icon-bar {
    width: 28px;
  }
}
/* line 55, ../sass/partials/_main_menu.scss */
.main-menu .close-btn .top-bar {
  -moz-transform: rotate(45deg) translateX(-100%);
  -ms-transform: rotate(45deg) translateX(-100%);
  -webkit-transform: rotate(45deg) translateX(-100%);
  transform: rotate(45deg) translateX(-100%);
}
/* line 59, ../sass/partials/_main_menu.scss */
.main-menu .close-btn .bottom-bar {
  -moz-transform: rotate(-45deg) translateX(100%);
  -ms-transform: rotate(-45deg) translateX(100%);
  -webkit-transform: rotate(-45deg) translateX(100%);
  transform: rotate(-45deg) translateX(100%);
  transition-delay: .1s;
}
/* line 67, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .nav-item {
  line-height: 3.5;
}
@media only screen and (max-width: 767px) {
  /* line 67, ../sass/partials/_main_menu.scss */
  .main-menu .navbar-nav .nav-item {
    line-height: 2.5;
  }
}
@media only screen and (max-width: 576px) {
  /* line 67, ../sass/partials/_main_menu.scss */
  .main-menu .navbar-nav .nav-item {
    line-height: 2.2;
  }
}
/* line 79, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .nav-item .nav-link {
  position: relative;
  left: 10px;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 86, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .nav-item .nav-link:before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 0;
  width: 0;
  height: 40px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 767px) {
  /* line 86, ../sass/partials/_main_menu.scss */
  .main-menu .navbar-nav .nav-item .nav-link:before {
    display: none;
  }
}
/* line 103, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .nav-item .nav-link span {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 107, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .nav-item .nav-link:hover span {
  color: #ffffff;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  /* line 107, ../sass/partials/_main_menu.scss */
  .main-menu .navbar-nav .nav-item .nav-link:hover span {
    color: #000000;
  }
}
/* line 117, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .nav-item .nav-link:hover:before {
  width: 90%;
}
/* line 123, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .secondary-menu {
  position: absolute;
  left: 100%;
  top: -100%;
  background-color: #ffffff;
  min-width: 400px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
  overflow-x: hidden;
  width: 0;
}
/* line 134, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .secondary-menu .nav-item {
  line-height: 2.5;
}
/* line 138, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .secondary-menu .nav-link {
  font-size: 21px;
}
/* line 142, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav .secondary-menu .nav-link:hover:before {
  width: 95%;
}
/* line 149, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav > .nav-item:hover .secondary-menu {
  top: 0;
}
/* line 155, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav.main-menu-mobile {
  border-top: 1px solid #000000;
}
/* line 161, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav.main-menu-mobile .nav-item .nav-link {
  font-size: 24px;
}
@media only screen and (max-width: 576px) {
  /* line 161, ../sass/partials/_main_menu.scss */
  .main-menu .navbar-nav.main-menu-mobile .nav-item .nav-link {
    font-size: 22px;
  }
}
/* line 169, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav.main-menu-mobile .nav-item .nav-link:hover {
  background: #ffffff;
}
/* line 173, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav.main-menu-mobile .nav-item .nav-link:hover span {
  color: #000000;
}
/* line 177, ../sass/partials/_main_menu.scss */
.main-menu .navbar-nav.main-menu-mobile .nav-item .nav-link:hover:before {
  display: none;
}
/* line 187, ../sass/partials/_main_menu.scss */
.main-menu .social-media .nav-item {
  -moz-transition: left 0.3s, opacity 0.3s;
  -o-transition: left 0.3s, opacity 0.3s;
  -webkit-transition: left 0.3s, opacity 0.3s;
  transition: left 0.3s, opacity 0.3s;
  left: 10px;
  opacity: 0;
}
/* line 192, ../sass/partials/_main_menu.scss */
.main-menu .social-media a {
  border: 1px solid #000000;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 576px) {
  /* line 192, ../sass/partials/_main_menu.scss */
  .main-menu .social-media a {
    height: 35px;
    width: 35px;
  }
}
/* line 205, ../sass/partials/_main_menu.scss */
.main-menu .social-media a:hover {
  background-color: #000000;
  color: #ffffff;
}
/* line 210, ../sass/partials/_main_menu.scss */
.main-menu .social-media a i {
  font-size: 25px;
}
@media only screen and (max-width: 576px) {
  /* line 210, ../sass/partials/_main_menu.scss */
  .main-menu .social-media a i {
    font-size: 22px;
  }
}

/* line 222, ../sass/partials/_main_menu.scss */
.move-top-bar {
  -moz-transform: rotate(45deg) translateX(0) !important;
  -ms-transform: rotate(45deg) translateX(0) !important;
  -webkit-transform: rotate(45deg) translateX(0) !important;
  transform: rotate(45deg) translateX(0) !important;
}

/* line 226, ../sass/partials/_main_menu.scss */
.move-bottom-bar {
  -moz-transform: rotate(-45deg) translateX(0) !important;
  -ms-transform: rotate(-45deg) translateX(0) !important;
  -webkit-transform: rotate(-45deg) translateX(0) !important;
  transform: rotate(-45deg) translateX(0) !important;
}

/* line 230, ../sass/partials/_main_menu.scss */
.main-menu-padding {
  padding: 0 0 0 calc(1.75rem - 6px + 15px);
}
@media only screen and (max-width: 767px) {
  /* line 230, ../sass/partials/_main_menu.scss */
  .main-menu-padding {
    padding: 0 15px;
  }
}

/* line 1, ../sass/partials/_product.scss */
.title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* line 9, ../sass/partials/_product.scss */
.content.product-content h1, .content.product-content h2, .content.product-content p, .content.product-content button, .content.product-content i, .content.product-content h5,
.content.product-content .prev-product i {
  color: #343534;
}
/* line 14, ../sass/partials/_product.scss */
.content.product-content h2 {
  font-weight: bold;
  font-size: 2.5rem;
}
/* line 19, ../sass/partials/_product.scss */
.content.product-content h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #686e68;
  font-weight: 300;
}
/* line 26, ../sass/partials/_product.scss */
.content.product-content h4.border-bottom {
  border-bottom: 1px solid #e3e3e5;
}
/* line 30, ../sass/partials/_product.scss */
.content.product-content h5 {
  font-family: 'Open Sans', sans-serif;
}
/* line 34, ../sass/partials/_product.scss */
.content.product-content button.slideToggle {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  border-bottom: 1px solid #e3e3e5;
}
/* line 41, ../sass/partials/_product.scss */
.content.product-content button.slideToggle span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
/* line 46, ../sass/partials/_product.scss */
.content.product-content button.slideToggle div.d-inline-block {
  width: 11px;
  height: 11px;
  position: relative;
}
/* line 55, ../sass/partials/_product.scss */
.content.product-content button.slideToggle i:last-child {
  display: none;
}
/* line 60, ../sass/partials/_product.scss */
.content.product-content button.slideToggle:focus {
  outline: none;
}
/* line 67, ../sass/partials/_product.scss */
.content.product-content .prev-product i, .content.product-content .prev-product hr {
  position: absolute;
  border: none;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 76, ../sass/partials/_product.scss */
.content.product-content .prev-product hr {
  background-color: #343534;
  width: 20px;
  right: 0;
}
/* line 82, ../sass/partials/_product.scss */
.content.product-content .prev-product:hover hr {
  width: 30px;
}
/* line 86, ../sass/partials/_product.scss */
.content.product-content .prev-product:hover i {
  -moz-transform: translateX(-10px) translateY(-50%);
  -ms-transform: translateX(-10px) translateY(-50%);
  -webkit-transform: translateX(-10px) translateY(-50%);
  transform: translateX(-10px) translateY(-50%);
}
/* line 90, ../sass/partials/_product.scss */
.content.product-content .prev-product .relative {
  width: 24px;
}
/* line 95, ../sass/partials/_product.scss */
.content.product-content .borders {
  position: absolute;
  width: 140%;
  height: 110%;
  top: 50%;
  left: -120px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 103, ../sass/partials/_product.scss */
.content.product-content .borders > div {
  background-color: #ebebeb;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
/* line 108, ../sass/partials/_product.scss */
.content.product-content .borders .top-border {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
/* line 117, ../sass/partials/_product.scss */
.content.product-content .borders .bottom-border {
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
/* line 126, ../sass/partials/_product.scss */
.content.product-content .borders .left-border {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/* line 135, ../sass/partials/_product.scss */
.content.product-content .borders .right-border {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/* line 145, ../sass/partials/_product.scss */
.content.product-content .borders.etaireia-borders {
  left: -150px;
  width: 120%;
}
/* line 150, ../sass/partials/_product.scss */
.content.product-content .borders.etaireia-borders.left-borders {
  left: 0;
}
/* line 154, ../sass/partials/_product.scss */
.content.product-content .piato:hover .borders .top-border,
.content.product-content .piato:hover .borders .bottom-border {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 159, ../sass/partials/_product.scss */
.content.product-content .piato:hover .borders .left-border,
.content.product-content .piato:hover .borders .right-border {
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* line 164, ../sass/partials/_product.scss */
.content.product-content .piato .overflow-hidden img {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 168, ../sass/partials/_product.scss */
.content.product-content .piato:hover .overflow-hidden img {
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 172, ../sass/partials/_product.scss */
.content.product-content .etaireia-btn {
  color: #000000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
@media only screen and (max-width: 576px) {
  /* line 172, ../sass/partials/_product.scss */
  .content.product-content .etaireia-btn {
    font-size: 14px;
  }
}
/* line 183, ../sass/partials/_product.scss */
.content.product-content .etaireia-btn:after {
  content: '';
  position: absolute;
  background: #feaf28;
  width: 55%;
  height: 20px;
  left: 0;
  top: 50%;
  z-index: -1;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 576px) {
  /* line 183, ../sass/partials/_product.scss */
  .content.product-content .etaireia-btn:after {
    height: 15px;
  }
}
/* line 199, ../sass/partials/_product.scss */
.content.product-content .etaireia-btn:hover:after {
  width: 0;
}

/* line 206, ../sass/partials/_product.scss */
.product {
  overflow: hidden;
}
/* line 210, ../sass/partials/_product.scss */
.product .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 219, ../sass/partials/_product.scss */
.product .layer h2 {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 225, ../sass/partials/_product.scss */
.product img {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 229, ../sass/partials/_product.scss */
.product:hover img {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* line 233, ../sass/partials/_product.scss */
.product:hover .layer {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  /* line 239, ../sass/partials/_product.scss */
  .content.product-content.more-about-us h2 {
    font-size: 2rem;
  }
}

/* line 1, ../sass/partials/_etaireia.scss */
.quote p {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.1;
  letter-spacing: 0;
}

/* line 9, ../sass/partials/_etaireia.scss */
.more-about-us h2 {
  color: #000000;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background: -webkit-linear-gradient(#000000, #000000);
  background: -o-linear-gradient(#000000, #000000);
  background: linear-gradient(#000000, #000000);
  background-size: 0 100%;
  background-position: 110% 100%;
  background-repeat: no-repeat;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 576px) {
  /* line 9, ../sass/partials/_etaireia.scss */
  .more-about-us h2 {
    font-size: 35px;
  }
}
/* line 22, ../sass/partials/_etaireia.scss */
.more-about-us h2:hover {
  color: #ffffff;
  background-size: 100% 100%;
}

/* line 28, ../sass/partials/_etaireia.scss */
.content.product-content .piato.gift .gift-image {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 991px) {
  /* line 28, ../sass/partials/_etaireia.scss */
  .content.product-content .piato.gift .gift-image {
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}

/* line 36, ../sass/partials/_etaireia.scss */
.content.product-content .piato.gift .borders.etaireia-borders {
  width: 80%;
  left: 50%;
  top: 0;
  height: 100%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (max-width: 991px) {
  /* line 36, ../sass/partials/_etaireia.scss */
  .content.product-content .piato.gift .borders.etaireia-borders {
    width: 110%;
    height: 100%;
  }
}

/* line 49, ../sass/partials/_etaireia.scss */
.transform-none {
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

/* line 5, ../sass/partials/_contact.scss */
.contact-form form .borders {
  border: 1px solid #ebebeb;
  height: 100%;
  width: 120%;
}
@media only screen and (max-width: 1400px) {
  /* line 5, ../sass/partials/_contact.scss */
  .contact-form form .borders {
    width: 105%;
  }
}
/* line 16, ../sass/partials/_contact.scss */
.contact-form form label {
  color: #000000;
  font-size: 20px;
}
/* line 21, ../sass/partials/_contact.scss */
.contact-form form label.error {
  color: red;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
/* line 28, ../sass/partials/_contact.scss */
.contact-form form input, .contact-form form textarea {
  background-color: #f5f5f5;
  border: none;
  height: 4rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 33, ../sass/partials/_contact.scss */
.contact-form form input:focus, .contact-form form textarea:focus {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f5f5f5;
}
@media only screen and (max-width: 1200px) {
  /* line 28, ../sass/partials/_contact.scss */
  .contact-form form input, .contact-form form textarea {
    height: 3.5rem;
  }
}
@media only screen and (max-width: 991px) {
  /* line 28, ../sass/partials/_contact.scss */
  .contact-form form input, .contact-form form textarea {
    height: 3rem;
  }
}
/* line 48, ../sass/partials/_contact.scss */
.contact-form form textarea {
  resize: none;
  height: 15rem;
}
@media only screen and (max-width: 1200px) {
  /* line 48, ../sass/partials/_contact.scss */
  .contact-form form textarea {
    height: 14rem;
  }
}
@media only screen and (max-width: 991px) {
  /* line 48, ../sass/partials/_contact.scss */
  .contact-form form textarea {
    height: 13rem;
  }
}
/* line 61, ../sass/partials/_contact.scss */
.contact-form form button {
  color: #000000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  background: none;
}
/* line 69, ../sass/partials/_contact.scss */
.contact-form form button:after {
  content: '';
  position: absolute;
  background: #feaf28;
  width: 70%;
  height: 20px;
  left: 0;
  top: 50%;
  z-index: -1;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 81, ../sass/partials/_contact.scss */
.contact-form form button:hover:after {
  width: 0;
}
/* line 85, ../sass/partials/_contact.scss */
.contact-form form button:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 90, ../sass/partials/_contact.scss */
.contact-form form .g-recaptcha.error {
  outline: 4px solid red;
}

/* line 2, ../sass/partials/_news.scss */
.content.product-content.news h2 {
  font-weight: 500;
  line-height: 1;
  font-size: 3rem;
}
@media only screen and (max-width: 1200px) {
  /* line 2, ../sass/partials/_news.scss */
  .content.product-content.news h2 {
    font-size: 2.2rem;
  }
}
/* line 12, ../sass/partials/_news.scss */
.content.product-content.news .new-borders {
  width: 120%;
  top: 40%;
  height: 150%;
}
@media only screen and (max-width: 1200px) {
  /* line 12, ../sass/partials/_news.scss */
  .content.product-content.news .new-borders {
    width: 110%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 12, ../sass/partials/_news.scss */
  .content.product-content.news .new-borders {
    height: 140%;
  }
}
/* line 28, ../sass/partials/_news.scss */
.content.product-content.news .new a {
  font-size: 14px;
}
/* line 31, ../sass/partials/_news.scss */
.content.product-content.news .new a:after {
  height: 15px;
}
