$brown: #1f1812;
$black: #000000;
$white: #ffffff;
$lightGrey: #cccccc;
$orange: #ff9900;
$specialPlate: #fb8520;
$darkBrown: #343534;
$grey: #686e68;
$borderBottomColor: #e3e3e5;
$lightGreyBorder: #ebebeb;
$inputBgColor: #f5f5f5;
$etaireiaNewText: #222222;
$plainBtn: #fdab22;