.quote p {
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	line-height: 1.1;
	letter-spacing: 0;
}

.more-about-us h2 {
	color: $black;
	font-weight: 500;
    @include linear-gradient($black, $black);
	background-size: 0 100%;
	background-position: 110% 100%;
	background-repeat: no-repeat;
	@include transition(.5s);

	@media only screen and (max-width: 576px) {
		font-size: 35px;
	}

	&:hover {
		color: $white;
		background-size: 100% 100%;
	}
}

.content.product-content .piato.gift .gift-image {
	@include transition(all .3s ease-out);

	@media only screen and (max-width: 991px) {
		@include transform(translate3d(0,0,0) !important)
	}
}

.content.product-content .piato.gift .borders.etaireia-borders {
	width: 80%;
	left: 50%;
	top: 0;
	height: 100%;
	@include transform(translateX(-50%));

	@media only screen and (max-width: 991px) {
		width: 110%;
		height: 100%;
	}
}	

.transform-none {
	@include transform(none !important);
}