.mycarousel-inner {
    overflow-y: visible;
}

.myitem {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

    .height-100 {
        padding-bottom: 200px;

        @media only screen and (max-width: 767px) {
            opacity: 1 !important;
            @include transform(translate3d(0,0,0) !important);
        }

        @media only screen and (max-width: 767px) {
            padding-bottom: 0;
        }

        @media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
            padding-bottom: 0;
        }

        @media only screen and (min-device-width : 480px) and (max-device-width : 854px) and (orientation : landscape) {
            padding-bottom: 0;
            -webkit-box-align: center!important;
            -ms-flex-align: center!important;
            align-items: center!important;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
           height: 100vh;
        }
    }

    @media only screen and (max-width: 767px) {
    	background-attachment: scroll;
        background-position: center !important;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
       background-attachment: scroll;
       background-position: center !important;
    }

    h1,p,.mybtn,span.align-middle {
    	@include transition(all 0.8s);
	    transition-timing-function: ease-in-out;
	    -webkit-transition-timing-function: ease-in-out;
	    position: relative;
	    opacity: 0;
    }

    h1 {
    	color: $white;
    	font-size: 55px;
    	font-weight: 400;
    	top: 40px;
    	@include transition-delay(.6s);

    	@media only screen and (max-width: 767px) {
    		font-size: 40px;
    	}

        @media only screen and (max-width: 576px) {
            font-size: 30px;
        }
    }

    p {
    	color: $white;
    	font-family: 'Roboto', sans-serif;
    	font-size: 14px;
    	font-weight: 300;
    	max-width: 60%;
    	top: 20px;
    	@include transition-delay(.9s);
    }

    & > div.d-flex {
    	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    		-webkit-box-align: center !important;
    		    -ms-flex-align: center !important;
    		        align-items: center !important;
    	}
    }

}

.myitem.active span.align-middle,
.myitem.active .mybtn {
	left: 0;
	opacity: 1;
}

.myitem.active h1,
.myitem.active p {
	top: 0;
	opacity: 1;
}

.scale-dropdown {
	@include transform(translate(-50%,-50%) scale(1) !important);
	opacity: 1 !important;
}

.scale-divider {
	@include transform(scale(1) !important);
}

.indicators {
    position: absolute;
    bottom: 80px;
    left: 80px;
    right: auto;
    margin-left: 0;
    margin-right: 0;

    li {
        width: 8px;
        height: 8px;
        cursor: pointer;
    }

    @media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
        display: none !important;
    }
}

.arrows {
	position: absolute;
	bottom: 80px;
	right: 80px;
	width: 80px;

    @media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
        display: none !important;
    }
}

.carousel-control-next, .carousel-control-prev {
    position: static;
    font-size: 20px;
    opacity: 1;

    &:hover {
    	opacity: 1;
    }
}

.scroll-down {
	position: absolute;
	left: 50%;
    @include transform(translateX(-50%));
	bottom: 20px;
	cursor: pointer;

    @media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
        display: none !important;
    }

	span {
		color: $white;
	}

	img {
	    -webkit-animation: bounce 2s infinite;
	    animation: bounce 2s infinite;
	    position: relative;
	    top: 0em;
	}
}

.mymodal {

	background: rgba(255, 255, 255, .5);

	.modal-dialog {
		max-width: 300px;

		.modal-content {
			background-color: transparent;
			border: none;

			.input-group-append .input-group-text {
				border-radius: 5px 0 0 5px;
				background-color: $white;
				border: none;
			}

			input[type="text"] {
				border: none;
				height: 70px;

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

} 

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bg-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	.justify-content-start .layer {
		left: -33.333333%;

        @media only screen and (max-width: 1200px) {
            left: -41.666667%
        }

        @media only screen and (max-width: 991px) {
            left: -50%
        }

        @media only screen and (max-width: 767px) {
            left: -100%
        }
	}

	.justify-content-end .layer {
		right: -33.333333%;

        @media only screen and (max-width: 1200px) {
            right: -41.666667%
        }

        @media only screen and (max-width: 991px) {
            right: -50%
        }

        @media only screen and (max-width: 767px) {
            right: -100%
        }
	}

	.layer.fromTop {
		top: -100%;
	}

	.layer.fromBottom {
		top: 100%;
	}
}

.lg-section .layer {
	min-height: 500px;

    @media only screen and (max-width: 1200px) {
        min-height: 450px;
    }

    @media only screen and (max-width: 991px) {
        min-height: 400px;
    }

    @media only screen and (max-width: 767px) {
        min-height: 500px;
    }

    @media only screen and (max-width: 576px) {
        min-height: 400px;
    }
}

.sm-section .layer {
	min-height: 350px;
}

#map {
	height: 400px;
}

.fadeInLeft {
	left: 0 !important;
	opacity: 1 !important;
}

.fadeInRight {
	right: 0 !important;
	opacity: 1 !important;
}

.fadeInTop {
	top: 0 !important;
	opacity: 1 !important;
}