.content.product-content.news {
	h2 {
		font-weight: 500;
		line-height: 1.2;
		font-size: 2rem;

		@media only screen and (max-width: 1200px) {
			font-size: 1.8rem;
		}
	}

	.new-borders {
		@extend %center;
		width: 120%;
		top: 40%;
		height: 150%;

		@media only screen and (max-width: 1200px) {
			width: 110%;
		}

		@media only screen and (max-width: 991px) {
			height: 140%;
		}
	}

	.new {
		a {
			font-size: 14px;

			&:after {
				height: 15px;
			}
		}
	}

}