.plain {
	h3 {
		font-size: 1.5rem;
	}

	table {
		font-family: 'Roboto', sans-serif;

		th {
			color: $orange;
		}
	}

	button {
		background: none;
		border: none; 
		box-shadow: none;
		cursor: pointer;
		background-color: $white;
		border-top: 1px solid $plainBtn;
		border-bottom: 1px solid $plainBtn;

		&:focus {
			outline: none;
		}

		span {
			color: $black;
			text-transform: uppercase;
			font-weight: bold;
		}

		i {
			color: $etaireiaNewText;
			font-size: 0.8125rem;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			@include transition(all .3s);
		}
	}

	a {
		color: $orange;
	}

	.py-5.text-left ul {
		list-style: none;
		padding: 0;
	}

	p,li {
		color: $black;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		line-height: 2.8;
	}

	.plain-text p {
		line-height: 2;
	}
}

.rotate180 {
	@include transform(rotate(180deg));
}