.plain {
	h3 {
		font-size: 1.5rem;
	}

	button {
		background: none;
		border: none; 
		box-shadow: none;
		cursor: pointer;
		background-color: $white;
		border-top: 1px solid $plainBtn;
		border-bottom: 1px solid $plainBtn;

		&:focus {
			outline: none;
		}

		span {
			color: $black;
			text-transform: uppercase;
			font-weight: bold;
		}

		i {
			color: $etaireiaNewText;
			font-size: 0.8125rem;
			@include transition(all .3s);
		}
	}

	p,.nav-item {
		color: $black;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		line-height: 2.8;
	}

	.plain-text p {
		line-height: 2;
	}
}

.rotate180 {
	@include transform(rotate(180deg));
}