.content.product-content {
	h1,h2,p,button,i,h5,
	.prev-product i {
		color: $darkBrown;
	}

	h2 {
		font-weight: bold;
		font-size: 2rem;

		&.d-inline-block.z-index-1:after {
			content: '';
			position: absolute;
			background: #feaf28;
			width: 100%;
			height: 14px;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}

	h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		color: $grey;
		font-weight: 300;
	}

	h4.border-bottom {
		border-bottom: 1px solid $borderBottomColor;
	}

	h5 {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}

	button.slideToggle {
		background: none;
		border: none; 
		box-shadow: none;
		cursor: pointer;
		border-bottom: 1px solid $borderBottomColor;

		span {
			font-family: 'Roboto', sans-serif;
			text-transform: uppercase;
		}

		div.d-inline-block {
			width: 11px;
			height: 11px;
			position: relative;
		}

		i {
			@extend %center;

			&:last-child {
				display: none;
			}
		}

		&:focus {
			outline: none;
		}
	}

	.prev-product {

		i,hr {
			position: absolute;
			border: none;
			top: 50%;
			@include transform(translateY(-50%));
			@include transition(all .3s);
			@include transition-delay(.3s);
		}

		hr {
			background-color: $darkBrown;
			width: 20px;
			right: 0;
		}
		
		&:hover hr {
			width: 30px;
		}

		&:hover i {
			@include transform(translateX(-10px) translateY(-50%));
		}

		.relative {
			width: 24px;
		}
	}

	.borders {
		position: absolute;
		width: 140%;
		height: 110%;
		top: 50%;
		left: -120px;
		@include transform(translateY(-50%));

		& > div {
			background-color: $lightGreyBorder;
			@include transition(all .8s);
		}

		.top-border {
			height: 1px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include transform(scaleX(0));	
		}

		.bottom-border {
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			@include transform(scaleX(0));	
		}

		.left-border {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			@include transform(scaleY(0));	
		}

		.right-border {
			height: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 1px;
			@include transform(scaleY(0));	
		}
	}

	.borders.etaireia-borders {
		left: -150px;
		width: 120%;
	}

	.borders.etaireia-borders.left-borders {
		left: 0;
	}

	.borders.etaireia-borders.activities-borders {
		width: 95%;
	}

	.piato:hover .borders .top-border,
	.piato:hover .borders .bottom-border {
		@include transform(scaleX(1));
	}

	.piato:hover .borders .left-border,
	.piato:hover .borders .right-border {
		@include transform(scaleY(1));
	}

	.piato .overflow-hidden img:not(.position-absolute) {
		@include transition(all .5s);

		@media (max-width: 992px) {
			width: 100%;
		}
	}

	.piato.special {

		.overflow-hidden {
			border: 15px solid $specialPlate;
			position: relative;

			.position-absolute {
				top: 0;
				left: 0;
				z-index: 10;
			}
		}
		
		h2 {
			color: $specialPlate;
		}
	}

	.piato:hover .overflow-hidden img:not(.position-absolute) {
		@include transform(scale(1.3));
	}

	.etaireia-btn {
		color: $black;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 14px;

		&:after {
			content: '';
			position: absolute;
			background: #feaf28;
			width: 55%;
			height: 14px;
			left: 0;
			top: 50%;
			z-index: -1;
			@include transition(all .4s ease-in-out);
		}

		&:hover:after {
			width: 0;
		}
	}

	&.etaireia-new {
		p {
			color: $etaireiaNewText;
			line-height: 2;
		}

		.borders {
			top: 40%;
			width: 120%;
			height: 120%;
			left: -80px;
		}
	}

}

.product {

	overflow: hidden;

	.layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30%;
		z-index: 1;
		@include transition(all .3s);

		h2 {
			font-size: 18px;
			text-transform: uppercase;
		}
	}

	img {
		@include transition(all .5s);
	}

	&:hover img,
	&:hover .product-bg {
		@include transform(scale(1.5));
	}

	&:hover .layer {
		height: 100%;
	}

	.product-bg {
		min-height: 340px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@include transition(all .5s);

		@media only screen and (max-width:1200px) {
			min-height: 300px;
		}

		@media only screen and (max-width:991px) {
			min-height: 340px;
		}

		@media only screen and (max-width:767px) {
			min-height: 400px;
		}

		@media only screen and (max-width:576px) {
			min-height: 300px;
		}

	}
}

.content.product-content.more-about-us {
	h2 {
		@media only screen and (max-width:767px) {
			font-size: 2rem;
		}
	}
}