body {
	font-family: 'Comfortaa', cursive;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	&:hover,&:focus {
		text-decoration: none;
		box-shadow: none !important;
	}
}

h2 {
	font-size: 36px;
	font-weight: 400;
}

h3 {
	font-weight: bold;
	font-size: 30px;

	@media only screen and (max-width:576px) {
		font-size: 27px;
	}
}

.height-100 {
	min-height: 100vh;
}

.black-bg {
	background-color: $black;
	color: $white;
}

.white-bg {
	background-color: $white;
}

.white-color {
	color: $white;
}

.relative {
	position: relative;
}

.z-index {
	z-index: 99;
	background-color: $white;
}

section {
	background-color: $white;
}

%center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}

 .icon-bar {
    display: block;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background-color: $brown;
    position: relative;
    @include transition(all .1s);
}

.static {
	position: static;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: .5;
	z-index: auto;
}

.mybtn {
	font-weight: bold;
	font-size: 18px;
	left: 20px;
	@include transition-delay(.3s);

	span {
		color: $orange;
	}
}

.title-span {
	color: $white;
	font-size: 21px;
	left: -20px;
}

.mydropdown {
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%) scale(0));
	min-width: 260px;
	display: block;
	opacity: 0;
	@include transition(all .3s);
	will-change: transform;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	overflow: hidden;

	@media only screen and (max-width: 767px) {
		overflow: visible;
	}

	div {
		max-height: 280px;
	    overflow-y: auto;
	    margin-right: -20px;
	    margin-left: -20px;
	    box-sizing: content-box;
	    overflow-x: hidden;

		@media only screen and (max-width: 767px) {
			max-height: 200px;
			margin-right: 0;
			margin-left: 0;
	    	box-sizing: border-box;
	    	overflow-y: auto;
		}
	}

	a,.dropdown-divider {
		display: block;
		@include transform(scale(0.5));
		@include transition(transform .2s);
		will-change: transform;
	}

	.dropdown-divider:last-child {
		display: none;
	}

	a:active {
		background: #f8f9fa;
		color: #16181b;
	}
}

.layer {
	background-color: rgba(255,255,255,.6);
	@include transition(all .5s ease-out);

	h2,a {
		@include transition(all .3s);
		color: $darkBrown;
	}

	span {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
	}
}

.call-us {
	position: absolute;
	left: 0;
	bottom: 0;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	white-space: nowrap;

	@media screen and (max-width: 767px) {
		left: 50%;
		@include transform(translate(-50%));
	}

	p {
		font-weight: 300;

		span {
			font-weight: bold;
			font-size: 30px;
		}
	}
	
}

.content {

	h1,h2 {
		font-weight: bold;
		font-size: 30px;
	}

	hr {
		background-color: $orange;
		border: none;
		height: 2px;
		width: 40px;
	}

	p {
		font-family: 'Roboto', sans-serif;
		color: #222;
		font-weight: 300;
	}

}

.fromLeft {
	left: -50px;
	opacity: 0;
	@include transition(all .5s);
}

.fromRight {
	right: -50px;
	opacity: 0;
	@include transition(all .5s);
}

.overflow-hidden {
	overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .mynavbar {
   		height: 80px;
   }
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.title-padding {
	padding: 0 calc(2rem + 15px);
}

h1.mobile-heading,
h2.mobile-heading { 	
	@media only screen and (max-width: 576px) {
		font-size: 1.7rem; 
	}	
}

.z-index-1 {
	z-index: 1;
}

.new-date {
	color: $brown;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.fade-effect {
	img {
		opacity: 0;
		@include transition(all 1s);
	}

	.borders {
		opacity: 0;
	}

	h2,p {
		opacity: 0;
		@include transform(translateY(30px));
		@include transition(all .6s);
	}
}

.fade-effect img.fire,
.fade-effect .borders.fire {
	opacity: 1;
}

.fade-effect h2.fire,
.fade-effect p.fire {
	opacity: 1;
	@include transform(none);
}

.title,.hero-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.hero-banner {
	min-height: 768px;

	@media only screen and (max-width: 1200px) {
		min-height: 600px;
	}

	@media only screen and (max-width: 767px) {
		min-height: 500px;
	}

	@media only screen and (max-width: 576px) {
		min-height: 400px;
	}
}